@import "tailwindcss";

@theme {
  /* Reset default Tailwind configuration */
  --color-*: initial;

  /* Color */
  --color-gray-900: oklch(19.13% 0 263.28);
  --color-gray-00: oklch(100% 0 263.28);
  --color-gray-100: oklch(92.62% 0.004 236.99);
  --color-gray-50: oklch(96.59% 0.003 229.83);
  --color-gray-300: oklch(77.31% 0.013 229.15);
  --color-gray-400: oklch(69.41% 0.017 227.2);
  --color-gray-500: oklch(61.32% 0.022 229.36);
  --color-gray-600: oklch(52.24% 0.018 227.33);
  --color-gray-700: oklch(42.79% 0.015 229.35);
  --color-gray-800: oklch(32.83% 0.01 229.27);
  --color-primary-50: oklch(97.14% 0.017 56.07);
  --color-primary-100: oklch(94.29% 0.035 57.56);
  --color-primary-200: oklch(88.6% 0.071 55.55);
  --color-primary-300: oklch(83.41% 0.106 54.57);
  --color-primary-400: oklch(78.43% 0.142 52.71);
  --color-primary-500: oklch(73% 0.171 49.97);
  --color-primary-600: oklch(66.79% 0.155 49.73);
  --color-primary-700: oklch(51.14% 0.115 50.78);
  --color-primary-800: oklch(38.56% 0.083 51.37);
  --color-primary-900: oklch(25.09% 0.047 54);
  --color-secondary-50: oklch(96.65% 0.017 236.82);
  --color-secondary-100: oklch(93.34% 0.033 237.04);
  --color-secondary-200: oklch(86.82% 0.066 236.88);
  --color-secondary-300: oklch(80.6% 0.098 238.33);
  --color-secondary-400: oklch(74.72% 0.127 239.91);
  --color-secondary-500: oklch(69.4% 0.153 243.14);
  --color-secondary-600: oklch(58.91% 0.128 242.74);
  --color-secondary-700: oklch(47.99% 0.102 242.64);
  --color-secondary-800: oklch(36.35% 0.073 241.7);
  --color-secondary-900: oklch(23.77% 0.043 241.08);
  --color-success-50: oklch(96.26% 0.023 143.55);
  --color-success-100: oklch(92.77% 0.048 143.38);
  --color-success-200: oklch(85.53% 0.095 142.98);
  --color-success-300: oklch(78.84% 0.141 142.85);
  --color-success-400: oklch(72.37% 0.181 142.4);
  --color-success-500: oklch(66.8% 0.208 142.18);
  --color-success-600: oklch(56.63% 0.174 142.2);
  --color-success-700: oklch(46.29% 0.14 142.24);
  --color-success-800: oklch(35.02% 0.103 142.12);
  --color-success-900: oklch(23.13% 0.061 142.07);
  --color-warning-50: oklch(98.24% 0.025 99.58);
  --color-warning-100: oklch(96.3% 0.05 98.64);
  --color-warning-200: oklch(92.83% 0.095 98.93);
  --color-warning-300: oklch(89.57% 0.135 98.96);
  --color-warning-400: oklch(86.57% 0.161 98.15);
  --color-warning-500: oklch(83.79% 0.171 96.13);
  --color-warning-600: oklch(70.97% 0.144 96.3);
  --color-warning-700: oklch(57.53% 0.117 96.59);
  --color-warning-800: oklch(43.25% 0.087 97.09);
  --color-warning-900: oklch(27.64% 0.055 98.57);
  --color-danger-50: oklch(96.09% 0.016 17.17);
  --color-danger-100: oklch(92.53% 0.033 17.65);
  --color-danger-200: oklch(84.96% 0.069 18.57);
  --color-danger-300: oklch(78.04% 0.108 19.77);
  --color-danger-400: oklch(71.4% 0.148 21.46);
  --color-danger-500: oklch(65.94% 0.185 23.68);
  --color-danger-600: oklch(55.89% 0.155 23.55);
  --color-danger-700: oklch(45.68% 0.123 23.26);
  --color-danger-800: oklch(34.55% 0.088 22.83);
  --color-danger-900: oklch(22.86% 0.049 21.67);
  --color-gray-50: oklch(96.59% 0.003 229.83);
  --color-gray-900: oklch(22.46% 0.007 248.2);
  --color-gray-800: oklch(32.83% 0.01 229.27);
  --color-gray-700: oklch(42.79% 0.015 229.35);
  --color-gray-600: oklch(52.24% 0.018 227.33);
  --color-gray-500: oklch(61.32% 0.022 229.36);
  --color-gray-400: oklch(69.41% 0.017 227.2);
  --color-gray-300: oklch(77.31% 0.013 229.15);
  --color-gray-200: oklch(85.07% 0.008 229.18);
  --color-gray-100: oklch(92.62% 0.004 236.99);
  --color-gray-50: oklch(96.59% 0.003 229.83);
  --color-gray-00: oklch(100% 0 263.28);
  --color-primary-900: oklch(25.09% 0.047 54);
  --color-primary-800: oklch(38.56% 0.083 51.37);
  --color-primary-700: oklch(51.14% 0.115 50.78);
  --color-primary-600: oklch(66.79% 0.155 49.73);
  --color-primary-500: oklch(73% 0.171 49.97);
  --color-primary-400: oklch(78.43% 0.142 52.71);
  --color-primary-300: oklch(83.41% 0.106 54.57);
  --color-primary-200: oklch(88.6% 0.071 55.55);
  --color-primary-100: oklch(94.29% 0.035 57.56);
  --color-primary-50: oklch(97.14% 0.017 56.07);
  --color-secondary-900: oklch(23.77% 0.043 241.08);
  --color-secondary-800: oklch(36.35% 0.073 241.7);
  --color-secondary-700: oklch(47.99% 0.102 242.64);
  --color-secondary-600: oklch(58.91% 0.128 242.74);
  --color-secondary-500: oklch(69.4% 0.153 243.14);
  --color-secondary-400: oklch(74.72% 0.127 239.91);
  --color-secondary-300: oklch(80.6% 0.098 238.33);
  --color-secondary-200: oklch(86.82% 0.066 236.88);
  --color-secondary-100: oklch(93.34% 0.033 237.04);
  --color-secondary-50: oklch(96.65% 0.017 236.82);
  --color-success-900: oklch(23.13% 0.061 142.07);
  --color-success-800: oklch(35.02% 0.103 142.12);
  --color-success-700: oklch(46.29% 0.14 142.24);
  --color-success-600: oklch(56.63% 0.174 142.2);
  --color-success-500: oklch(66.8% 0.208 142.18);
  --color-success-400: oklch(72.37% 0.181 142.4);
  --color-success-300: oklch(78.84% 0.141 142.85);
  --color-success-200: oklch(85.53% 0.095 142.98);
  --color-success-100: oklch(92.77% 0.048 143.38);
  --color-success-50: oklch(96.26% 0.023 143.55);
  --color-warning-900: oklch(27.64% 0.055 98.57);
  --color-warning-800: oklch(43.25% 0.087 97.09);
  --color-warning-700: oklch(57.53% 0.117 96.59);
  --color-warning-600: oklch(70.97% 0.144 96.3);
  --color-warning-500: oklch(83.79% 0.171 96.13);
  --color-warning-400: oklch(86.57% 0.161 98.15);
  --color-warning-300: oklch(89.57% 0.135 98.96);
  --color-warning-200: oklch(92.83% 0.095 98.93);
  --color-warning-100: oklch(96.3% 0.05 98.64);
  --color-warning-50: oklch(98.24% 0.025 99.58);
  --color-danger-900: oklch(22.86% 0.049 21.67);
  --color-danger-800: oklch(34.55% 0.088 22.83);
  --color-danger-700: oklch(45.68% 0.123 23.26);
  --color-danger-600: oklch(55.89% 0.155 23.55);
  --color-danger-500: oklch(65.94% 0.185 23.68);
  --color-danger-400: oklch(71.4% 0.148 21.46);
  --color-danger-300: oklch(78.04% 0.108 19.77);
  --color-danger-200: oklch(84.96% 0.069 18.57);
  --color-danger-100: oklch(92.53% 0.033 17.65);
  --color-danger-50: oklch(96.09% 0.016 17.17);

  /* Typography */
  --text-display-01: 64px;
  --text-display-01--line-height: 72px;
  --text-display-01--letter-spacing: 0px;
  --text-display-01--font-weight: 600;

  --text-display-02: 56px;
  --text-display-02--line-height: 64px;
  --text-display-02--letter-spacing: 0px;
  --text-display-02--font-weight: 600;

  --text-display-03: 48px;
  --text-display-03--line-height: 56px;
  --text-display-03--letter-spacing: 0px;
  --text-display-03--font-weight: 600;

  --text-display-04: 40px;
  --text-display-04--line-height: 48px;
  --text-display-04--letter-spacing: 0px;
  --text-display-04--font-weight: 600;

  --text-display-05: 36px;
  --text-display-05--line-height: 44px;
  --text-display-05--letter-spacing: 0px;
  --text-display-05--font-weight: 600;

  --text-heading-01: 32px;
  --text-heading-01--line-height: 40px;
  --text-heading-01--letter-spacing: 0px;
  --text-heading-01--font-weight: 600;

  --text-heading-02: 28px;
  --text-heading-02--line-height: 32px;
  --text-heading-02--letter-spacing: 0px;
  --text-heading-02--font-weight: 600;

  --text-heading-03: 24px;
  --text-heading-03--line-height: 32px;
  --text-heading-03--letter-spacing: 0px;
  --text-heading-03--font-weight: 600;

  --text-heading-06: 16px;
  --text-heading-06--line-height: 56px;
  --text-heading-06--letter-spacing: 0.192px;
  --text-heading-06--font-weight: 700;

  --text-heading-07: 14px;
  --text-heading-07--line-height: 48px;
  --text-heading-07--letter-spacing: 0.168px;
  --text-heading-07--font-weight: 700;

  --text-body-xxl-400: 24px;
  --text-body-xxl-400--line-height: 32px;
  --text-body-xxl-400--letter-spacing: 0px;
  --text-body-xxl-400--font-weight: 400;

  --text-body-xl-400: 20px;
  --text-body-xl-400--line-height: 28px;
  --text-body-xl-400--letter-spacing: 0px;
  --text-body-xl-400--font-weight: 400;

  --text-body-xl-500: 20px;
  --text-body-xl-500--line-height: 28px;
  --text-body-xl-500--letter-spacing: 0px;
  --text-body-xl-500--font-weight: 500;

  --text-body-xl-600: 20px;
  --text-body-xl-600--line-height: 28px;
  --text-body-xl-600--letter-spacing: 0px;
  --text-body-xl-600--font-weight: 600;

  --text-body-large-400: 18px;
  --text-body-large-400--line-height: 24px;
  --text-body-large-400--letter-spacing: 0px;
  --text-body-large-400--font-weight: 400;

  --text-body-medium-400: 16px;
  --text-body-medium-400--line-height: 24px;
  --text-body-medium-400--letter-spacing: 0px;
  --text-body-medium-400--font-weight: 400;

  --text-body-medium-500: 16px;
  --text-body-medium-500--line-height: 24px;
  --text-body-medium-500--letter-spacing: 0px;
  --text-body-medium-500--font-weight: 500;

  --text-body-medium-600: 16px;
  --text-body-medium-600--line-height: 24px;
  --text-body-medium-600--letter-spacing: 0px;
  --text-body-medium-600--font-weight: 600;

  --text-body-small-400: 14px;
  --text-body-small-400--line-height: 20px;
  --text-body-small-400--letter-spacing: 0px;
  --text-body-small-400--font-weight: 400;

  --text-body-small-500: 14px;
  --text-body-small-500--line-height: 20px;
  --text-body-small-500--letter-spacing: 0px;
  --text-body-small-500--font-weight: 500;

  --text-body-small-600: 14px;
  --text-body-small-600--line-height: 20px;
  --text-body-small-600--letter-spacing: 0px;
  --text-body-small-600--font-weight: 600;

  --text-label-01: 18px;
  --text-label-01--line-height: 27px;
  --text-label-01--letter-spacing: 0px;
  --text-label-01--font-weight: 500;

  --text-label-02: 16px;
  --text-label-02--line-height: 24px;
  --text-label-02--letter-spacing: 0px;
  --text-label-02--font-weight: 500;

  --text-label-03: 14px;
  --text-label-03--line-height: 20px;
  --text-label-03--letter-spacing: 0px;
  --text-label-03--font-weight: 500;

  --text-label-04: 12px;
  --text-label-04--line-height: 150%;
  --text-label-04--letter-spacing: 0px;
  --text-label-04--font-weight: 500;

  --text-label-05: 11px;
  --text-label-05--line-height: 16px;
  --text-label-05--letter-spacing: 0px;
  --text-label-05--font-weight: 500;

  --text-body-tiny-400: 12px;
  --text-body-tiny-400--line-height: 16px;
  --text-body-tiny-400--letter-spacing: 0px;
  --text-body-tiny-400--font-weight: 400;

  --text-body-tiny-500: 12px;
  --text-body-tiny-500--line-height: 16px;
  --text-body-tiny-500--letter-spacing: 0px;
  --text-body-tiny-500--font-weight: 500;

  --text-body-tiny-600: 12px;
  --text-body-tiny-600--line-height: 16px;
  --text-body-tiny-600--letter-spacing: 0px;
  --text-body-tiny-600--font-weight: 600;

  --text-body-xs-400: 11px;
  --text-body-xs-400--line-height: 12px;
  --text-body-xs-400--letter-spacing: 0px;
  --text-body-xs-400--font-weight: 400;

  --text-body-xs-500: 11px;
  --text-body-xs-500--line-height: 12px;
  --text-body-xs-500--letter-spacing: 0px;
  --text-body-xs-500--font-weight: 500;

  --text-body-xs-600: 11px;
  --text-body-xs-600--line-height: 12px;
  --text-body-xs-600--letter-spacing: 0px;
  --text-body-xs-600--font-weight: 600;

  --text-body-xs-400: 11px;
  --text-body-xs-400--line-height: 12px;
  --text-body-xs-400--letter-spacing: 0px;
  --text-body-xs-400--font-weight: 400;

  --text-body-xs-500: 11px;
  --text-body-xs-500--line-height: 12px;
  --text-body-xs-500--letter-spacing: 0px;
  --text-body-xs-500--font-weight: 500;

  --text-body-xs-600: 11px;
  --text-body-xs-600--line-height: 12px;
  --text-body-xs-600--letter-spacing: 0px;
  --text-body-xs-600--font-weight: 600;

  --text-body-tiny-400: 12px;
  --text-body-tiny-400--line-height: 16px;
  --text-body-tiny-400--letter-spacing: 0px;
  --text-body-tiny-400--font-weight: 400;

  --text-body-tiny-500: 12px;
  --text-body-tiny-500--line-height: 16px;
  --text-body-tiny-500--letter-spacing: 0px;
  --text-body-tiny-500--font-weight: 500;

  --text-body-tiny-600: 12px;
  --text-body-tiny-600--line-height: 16px;
  --text-body-tiny-600--letter-spacing: 0px;
  --text-body-tiny-600--font-weight: 600;

  --text-body-small-400: 14px;
  --text-body-small-400--line-height: 20px;
  --text-body-small-400--letter-spacing: 0px;
  --text-body-small-400--font-weight: 400;

  --text-body-small-500: 14px;
  --text-body-small-500--line-height: 20px;
  --text-body-small-500--letter-spacing: 0px;
  --text-body-small-500--font-weight: 500;

  --text-body-small-600: 14px;
  --text-body-small-600--line-height: 20px;
  --text-body-small-600--letter-spacing: 0px;
  --text-body-small-600--font-weight: 600;

  --text-body-medium-400: 16px;
  --text-body-medium-400--line-height: 24px;
  --text-body-medium-400--letter-spacing: 0px;
  --text-body-medium-400--font-weight: 400;

  --text-body-medium-500: 16px;
  --text-body-medium-500--line-height: 24px;
  --text-body-medium-500--letter-spacing: 0px;
  --text-body-medium-500--font-weight: 500;

  --text-body-medium-600: 16px;
  --text-body-medium-600--line-height: 24px;
  --text-body-medium-600--letter-spacing: 0px;
  --text-body-medium-600--font-weight: 600;

  --text-body-large-400: 18px;
  --text-body-large-400--line-height: 24px;
  --text-body-large-400--letter-spacing: 0px;
  --text-body-large-400--font-weight: 400;

  --text-body-large-500: 18px;
  --text-body-large-500--line-height: 24px;
  --text-body-large-500--letter-spacing: 0px;
  --text-body-large-500--font-weight: 500;

  --text-body-large-600: 18px;
  --text-body-large-600--line-height: 24px;
  --text-body-large-600--letter-spacing: 0px;
  --text-body-large-600--font-weight: 600;

  --text-body-xl-400: 20px;
  --text-body-xl-400--line-height: 28px;
  --text-body-xl-400--letter-spacing: 0px;
  --text-body-xl-400--font-weight: 400;

  --text-body-xl-500: 20px;
  --text-body-xl-500--line-height: 28px;
  --text-body-xl-500--letter-spacing: 0px;
  --text-body-xl-500--font-weight: 500;

  --text-body-xl-600: 20px;
  --text-body-xl-600--line-height: 28px;
  --text-body-xl-600--letter-spacing: 0px;
  --text-body-xl-600--font-weight: 600;

  --text-body-xxl-400: 24px;
  --text-body-xxl-400--line-height: 32px;
  --text-body-xxl-400--letter-spacing: 0px;
  --text-body-xxl-400--font-weight: 400;

  --text-label-01: 18px;
  --text-label-01--line-height: 28px;
  --text-label-01--letter-spacing: 0px;
  --text-label-01--font-weight: 500;

  --text-label-03: 14px;
  --text-label-03--line-height: 20px;
  --text-label-03--letter-spacing: 0px;
  --text-label-03--font-weight: 500;

  --text-label-04: 12px;
  --text-label-04--line-height: 150%;
  --text-label-04--letter-spacing: 0px;
  --text-label-04--font-weight: 500;

  --text-label-05: 11px;
  --text-label-05--line-height: 16px;
  --text-label-05--letter-spacing: 0px;
  --text-label-05--font-weight: 500;

  --text-label-02: 16px;
  --text-label-02--line-height: 24px;
  --text-label-02--letter-spacing: 0px;
  --text-label-02--font-weight: 500;

  --text-display-05: 36px;
  --text-display-05--line-height: 44px;
  --text-display-05--letter-spacing: 0px;
  --text-display-05--font-weight: 600;

  --text-display-04: 40px;
  --text-display-04--line-height: 48px;
  --text-display-04--letter-spacing: 0px;
  --text-display-04--font-weight: 600;

  --text-display-03: 48px;
  --text-display-03--line-height: 56px;
  --text-display-03--letter-spacing: 0px;
  --text-display-03--font-weight: 600;

  --text-display-02: 56px;
  --text-display-02--line-height: 64px;
  --text-display-02--letter-spacing: 0px;
  --text-display-02--font-weight: 600;

  --text-display-01: 64px;
  --text-display-01--line-height: 72px;
  --text-display-01--letter-spacing: 0px;
  --text-display-01--font-weight: 600;

  --text-heading-07: 14px;
  --text-heading-07--line-height: 48px;
  --text-heading-07--letter-spacing: 0.168px;
  --text-heading-07--font-weight: 700;

  --text-heading-06: 16px;
  --text-heading-06--line-height: 56px;
  --text-heading-06--letter-spacing: 0.192px;
  --text-heading-06--font-weight: 700;

  --text-heading-03: 24px;
  --text-heading-03--line-height: 32px;
  --text-heading-03--letter-spacing: 0px;
  --text-heading-03--font-weight: 600;

  --text-heading-02: 28px;
  --text-heading-02--line-height: 32px;
  --text-heading-02--letter-spacing: 0px;
  --text-heading-02--font-weight: 600;

  --text-heading-01: 32px;
  --text-heading-01--line-height: 40px;
  --text-heading-01--letter-spacing: 0px;
  --text-heading-01--font-weight: 600;

  /* Shadow */
  --shadow-dropdown-shadow: 0px 8px 40px 0px oklch(0% 0 0 / 12%);
}

@layer components {
  .display-01 {
    font-family: "Public Sans";
    font-size: var(--text-display-01);
    font-weight: var(--text-display-01--font-weight);
    line-height: var(--text-display-01--line-height);
    letter-spacing: var(--text-display-01--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-02 {
    font-family: "Public Sans";
    font-size: var(--text-display-02);
    font-weight: var(--text-display-02--font-weight);
    line-height: var(--text-display-02--line-height);
    letter-spacing: var(--text-display-02--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-03 {
    font-family: "Public Sans";
    font-size: var(--text-display-03);
    font-weight: var(--text-display-03--font-weight);
    line-height: var(--text-display-03--line-height);
    letter-spacing: var(--text-display-03--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-04 {
    font-family: "Public Sans";
    font-size: var(--text-display-04);
    font-weight: var(--text-display-04--font-weight);
    line-height: var(--text-display-04--line-height);
    letter-spacing: var(--text-display-04--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-05 {
    font-family: "Public Sans";
    font-size: var(--text-display-05);
    font-weight: var(--text-display-05--font-weight);
    line-height: var(--text-display-05--line-height);
    letter-spacing: var(--text-display-05--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-01 {
    font-family: "Public Sans";
    font-size: var(--text-heading-01);
    font-weight: var(--text-heading-01--font-weight);
    line-height: var(--text-heading-01--line-height);
    letter-spacing: var(--text-heading-01--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-02 {
    font-family: "Public Sans";
    font-size: var(--text-heading-02);
    font-weight: var(--text-heading-02--font-weight);
    line-height: var(--text-heading-02--line-height);
    letter-spacing: var(--text-heading-02--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-03 {
    font-family: "Public Sans";
    font-size: var(--text-heading-03);
    font-weight: var(--text-heading-03--font-weight);
    line-height: var(--text-heading-03--line-height);
    letter-spacing: var(--text-heading-03--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-06 {
    font-family: "Public Sans";
    font-size: var(--text-heading-06);
    font-weight: var(--text-heading-06--font-weight);
    line-height: var(--text-heading-06--line-height);
    letter-spacing: var(--text-heading-06--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-07 {
    font-family: "Public Sans";
    font-size: var(--text-heading-07);
    font-weight: var(--text-heading-07--font-weight);
    line-height: var(--text-heading-07--line-height);
    letter-spacing: var(--text-heading-07--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xxl-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xxl-400);
    font-weight: var(--text-body-xxl-400--font-weight);
    line-height: var(--text-body-xxl-400--line-height);
    letter-spacing: var(--text-body-xxl-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-400);
    font-weight: var(--text-body-xl-400--font-weight);
    line-height: var(--text-body-xl-400--line-height);
    letter-spacing: var(--text-body-xl-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-500);
    font-weight: var(--text-body-xl-500--font-weight);
    line-height: var(--text-body-xl-500--line-height);
    letter-spacing: var(--text-body-xl-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-600);
    font-weight: var(--text-body-xl-600--font-weight);
    line-height: var(--text-body-xl-600--line-height);
    letter-spacing: var(--text-body-xl-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-large-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-large-400);
    font-weight: var(--text-body-large-400--font-weight);
    line-height: var(--text-body-large-400--line-height);
    letter-spacing: var(--text-body-large-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-400);
    font-weight: var(--text-body-medium-400--font-weight);
    line-height: var(--text-body-medium-400--line-height);
    letter-spacing: var(--text-body-medium-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-500);
    font-weight: var(--text-body-medium-500--font-weight);
    line-height: var(--text-body-medium-500--line-height);
    letter-spacing: var(--text-body-medium-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-600);
    font-weight: var(--text-body-medium-600--font-weight);
    line-height: var(--text-body-medium-600--line-height);
    letter-spacing: var(--text-body-medium-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-400);
    font-weight: var(--text-body-small-400--font-weight);
    line-height: var(--text-body-small-400--line-height);
    letter-spacing: var(--text-body-small-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-500);
    font-weight: var(--text-body-small-500--font-weight);
    line-height: var(--text-body-small-500--line-height);
    letter-spacing: var(--text-body-small-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-600);
    font-weight: var(--text-body-small-600--font-weight);
    line-height: var(--text-body-small-600--line-height);
    letter-spacing: var(--text-body-small-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-01 {
    font-family: "Public Sans";
    font-size: var(--text-label-01);
    font-weight: var(--text-label-01--font-weight);
    line-height: var(--text-label-01--line-height);
    letter-spacing: var(--text-label-01--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-02 {
    font-family: "Public Sans";
    font-size: var(--text-label-02);
    font-weight: var(--text-label-02--font-weight);
    line-height: var(--text-label-02--line-height);
    letter-spacing: var(--text-label-02--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-03 {
    font-family: "Public Sans";
    font-size: var(--text-label-03);
    font-weight: var(--text-label-03--font-weight);
    line-height: var(--text-label-03--line-height);
    letter-spacing: var(--text-label-03--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-04 {
    font-family: "Public Sans";
    font-size: var(--text-label-04);
    font-weight: var(--text-label-04--font-weight);
    line-height: var(--text-label-04--line-height);
    letter-spacing: var(--text-label-04--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-05 {
    font-family: "Public Sans";
    font-size: var(--text-label-05);
    font-weight: var(--text-label-05--font-weight);
    line-height: var(--text-label-05--line-height);
    letter-spacing: var(--text-label-05--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-400);
    font-weight: var(--text-body-tiny-400--font-weight);
    line-height: var(--text-body-tiny-400--line-height);
    letter-spacing: var(--text-body-tiny-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-500);
    font-weight: var(--text-body-tiny-500--font-weight);
    line-height: var(--text-body-tiny-500--line-height);
    letter-spacing: var(--text-body-tiny-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-600);
    font-weight: var(--text-body-tiny-600--font-weight);
    line-height: var(--text-body-tiny-600--line-height);
    letter-spacing: var(--text-body-tiny-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-400);
    font-weight: var(--text-body-xs-400--font-weight);
    line-height: var(--text-body-xs-400--line-height);
    letter-spacing: var(--text-body-xs-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-500);
    font-weight: var(--text-body-xs-500--font-weight);
    line-height: var(--text-body-xs-500--line-height);
    letter-spacing: var(--text-body-xs-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-600);
    font-weight: var(--text-body-xs-600--font-weight);
    line-height: var(--text-body-xs-600--line-height);
    letter-spacing: var(--text-body-xs-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-400);
    font-weight: var(--text-body-xs-400--font-weight);
    line-height: var(--text-body-xs-400--line-height);
    letter-spacing: var(--text-body-xs-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-500);
    font-weight: var(--text-body-xs-500--font-weight);
    line-height: var(--text-body-xs-500--line-height);
    letter-spacing: var(--text-body-xs-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xs-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-xs-600);
    font-weight: var(--text-body-xs-600--font-weight);
    line-height: var(--text-body-xs-600--line-height);
    letter-spacing: var(--text-body-xs-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-400);
    font-weight: var(--text-body-tiny-400--font-weight);
    line-height: var(--text-body-tiny-400--line-height);
    letter-spacing: var(--text-body-tiny-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-500);
    font-weight: var(--text-body-tiny-500--font-weight);
    line-height: var(--text-body-tiny-500--line-height);
    letter-spacing: var(--text-body-tiny-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-tiny-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-tiny-600);
    font-weight: var(--text-body-tiny-600--font-weight);
    line-height: var(--text-body-tiny-600--line-height);
    letter-spacing: var(--text-body-tiny-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-400);
    font-weight: var(--text-body-small-400--font-weight);
    line-height: var(--text-body-small-400--line-height);
    letter-spacing: var(--text-body-small-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-500);
    font-weight: var(--text-body-small-500--font-weight);
    line-height: var(--text-body-small-500--line-height);
    letter-spacing: var(--text-body-small-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-small-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-small-600);
    font-weight: var(--text-body-small-600--font-weight);
    line-height: var(--text-body-small-600--line-height);
    letter-spacing: var(--text-body-small-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-400);
    font-weight: var(--text-body-medium-400--font-weight);
    line-height: var(--text-body-medium-400--line-height);
    letter-spacing: var(--text-body-medium-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-500);
    font-weight: var(--text-body-medium-500--font-weight);
    line-height: var(--text-body-medium-500--line-height);
    letter-spacing: var(--text-body-medium-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-medium-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-medium-600);
    font-weight: var(--text-body-medium-600--font-weight);
    line-height: var(--text-body-medium-600--line-height);
    letter-spacing: var(--text-body-medium-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-large-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-large-400);
    font-weight: var(--text-body-large-400--font-weight);
    line-height: var(--text-body-large-400--line-height);
    letter-spacing: var(--text-body-large-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-large-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-large-500);
    font-weight: var(--text-body-large-500--font-weight);
    line-height: var(--text-body-large-500--line-height);
    letter-spacing: var(--text-body-large-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-large-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-large-600);
    font-weight: var(--text-body-large-600--font-weight);
    line-height: var(--text-body-large-600--line-height);
    letter-spacing: var(--text-body-large-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-400);
    font-weight: var(--text-body-xl-400--font-weight);
    line-height: var(--text-body-xl-400--line-height);
    letter-spacing: var(--text-body-xl-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-500 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-500);
    font-weight: var(--text-body-xl-500--font-weight);
    line-height: var(--text-body-xl-500--line-height);
    letter-spacing: var(--text-body-xl-500--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xl-600 {
    font-family: "Public Sans";
    font-size: var(--text-body-xl-600);
    font-weight: var(--text-body-xl-600--font-weight);
    line-height: var(--text-body-xl-600--line-height);
    letter-spacing: var(--text-body-xl-600--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .body-xxl-400 {
    font-family: "Public Sans";
    font-size: var(--text-body-xxl-400);
    font-weight: var(--text-body-xxl-400--font-weight);
    line-height: var(--text-body-xxl-400--line-height);
    letter-spacing: var(--text-body-xxl-400--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-01 {
    font-family: "Public Sans";
    font-size: var(--text-label-01);
    font-weight: var(--text-label-01--font-weight);
    line-height: var(--text-label-01--line-height);
    letter-spacing: var(--text-label-01--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-03 {
    font-family: "Public Sans";
    font-size: var(--text-label-03);
    font-weight: var(--text-label-03--font-weight);
    line-height: var(--text-label-03--line-height);
    letter-spacing: var(--text-label-03--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-04 {
    font-family: "Public Sans";
    font-size: var(--text-label-04);
    font-weight: var(--text-label-04--font-weight);
    line-height: var(--text-label-04--line-height);
    letter-spacing: var(--text-label-04--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-05 {
    font-family: "Public Sans";
    font-size: var(--text-label-05);
    font-weight: var(--text-label-05--font-weight);
    line-height: var(--text-label-05--line-height);
    letter-spacing: var(--text-label-05--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .label-02 {
    font-family: "Public Sans";
    font-size: var(--text-label-02);
    font-weight: var(--text-label-02--font-weight);
    line-height: var(--text-label-02--line-height);
    letter-spacing: var(--text-label-02--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-05 {
    font-family: "Public Sans";
    font-size: var(--text-display-05);
    font-weight: var(--text-display-05--font-weight);
    line-height: var(--text-display-05--line-height);
    letter-spacing: var(--text-display-05--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-04 {
    font-family: "Public Sans";
    font-size: var(--text-display-04);
    font-weight: var(--text-display-04--font-weight);
    line-height: var(--text-display-04--line-height);
    letter-spacing: var(--text-display-04--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-03 {
    font-family: "Public Sans";
    font-size: var(--text-display-03);
    font-weight: var(--text-display-03--font-weight);
    line-height: var(--text-display-03--line-height);
    letter-spacing: var(--text-display-03--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-02 {
    font-family: "Public Sans";
    font-size: var(--text-display-02);
    font-weight: var(--text-display-02--font-weight);
    line-height: var(--text-display-02--line-height);
    letter-spacing: var(--text-display-02--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .display-01 {
    font-family: "Public Sans";
    font-size: var(--text-display-01);
    font-weight: var(--text-display-01--font-weight);
    line-height: var(--text-display-01--line-height);
    letter-spacing: var(--text-display-01--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-07 {
    font-family: "Public Sans";
    font-size: var(--text-heading-07);
    font-weight: var(--text-heading-07--font-weight);
    line-height: var(--text-heading-07--line-height);
    letter-spacing: var(--text-heading-07--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-06 {
    font-family: "Public Sans";
    font-size: var(--text-heading-06);
    font-weight: var(--text-heading-06--font-weight);
    line-height: var(--text-heading-06--line-height);
    letter-spacing: var(--text-heading-06--letter-spacing);
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-03 {
    font-family: "Public Sans";
    font-size: var(--text-heading-03);
    font-weight: var(--text-heading-03--font-weight);
    line-height: var(--text-heading-03--line-height);
    letter-spacing: var(--text-heading-03--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-02 {
    font-family: "Public Sans";
    font-size: var(--text-heading-02);
    font-weight: var(--text-heading-02--font-weight);
    line-height: var(--text-heading-02--line-height);
    letter-spacing: var(--text-heading-02--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
  .heading-01 {
    font-family: "Public Sans";
    font-size: var(--text-heading-01);
    font-weight: var(--text-heading-01--font-weight);
    line-height: var(--text-heading-01--line-height);
    letter-spacing: var(--text-heading-01--letter-spacing);
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    margin-bottom: 0px;
  }
}
